$background-image: url('../assets/images/BackgroundTitle.PNG');
$primary-color: #5AC23D;
$secondary-color: #abff93;
$board-background: rgb(94, 45, 17);
$board-border-color: rbg(58, 6, 6);
$box-shadow-color: #000;