body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* set direction to column so the div appear above eachother, took me a minute to remember this */
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: lightblue;
}

.title {
   font-size: 25px;
   margin-bottom: 20px;
   /* attempting to animate the title */
   animation: titleAnimation 2s infinite alternate;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
}

.hole {
    width: 100px;
    height: 100px;
    background-color: brown;
    border-radius: 25px;
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

}

.hole img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}


@keyframes titleAnimation {
    from {
        transform: scale(1); 
    }
    to {
        transform: scale(1.2);
    }
}