body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* set direction to column so the div appear above eachother, took me a minute to remember this */
    flex-direction: column;
    height: 100vh;
    margin: 0;
    /* background-color: #FFB8D7; */
    background-image: url('./assets/images/BackgroundTitle.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.title {
    font-size: 25px;
    margin-bottom: 20px;
   
    
    /* attempting to animate the title */
    animation: bounceIn 1.5s ease-out infinite;
 }
 h1 {
    color: white;
    font-family: 'Comic Sans MS', cursive;
    color: #5AC23D
    
 }
 /* Animation for Title */
 /* im changing from a bounce in to a bounce repeat */
 @keyframes bounceIn {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
       
    }
    40% {
        transform: translateY(30px);
    
    }
    60%{
        transform: translateY(15);
 
    }
}


.allButtons{ 
    height: 250px;
    /* border: 1px solid red; */
    width: 500px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
#startButton, #optionsButton, #exitButton {
    gap: 30px;
    padding: 15px;
    margin: 5px 5px;
    background: #5AC23D;
    border-radius: 20px;
    height: 100px;
    
}

#startButton:hover {
    background: #abff93;
}
#optionsButton:hover {
    background: #abff93;
}
#exitButton:hover {
    background: #abff93;
}

#musicIcon {
    padding: 10px;
    background: white;
    
}
